In [38]:
print("".rjust(50, "*"))
print('*',"Coding Temple, Inc.".center(46),'*')
print('*',"283 Franklin ST.   ".center(46),'*')
print('*',"Boston, MA         ".center(46),'*')
print("".rjust(50, "="))
print('*',"Product Name  ".rjust(20), "Product Price",'*'.rjust(13))
print('*',"Books         ".rjust(20), "$49.95       ",'*'.rjust(13))
print('*',"Computer      ".rjust(20), "$579.99      ",'*'.rjust(13))
print('*',"Monitor       ".rjust(20), "$49.95       ",'*'.rjust(13))
print("".rjust(50, "="))
print('*',"".rjust(20), "Total",'*'.rjust(21))
print('*',"".rjust(20), "$754.83",'*'.rjust(19))
print("".rjust(50, "="))
print('*',"Thanks for shoping with us today!".center(46), '*')
print("".rjust(50, "*"))

**************************************************
*              Coding Temple, Inc.               *
*              283 Franklin ST.                  *
*              Boston, MA                        *
==================================================
*       Product Name   Product Price             *
*       Books          $49.95                    *
*       Computer       $579.99                   *
*       Monitor        $49.95                    *
==================================================
*                      Total                     *
*                      $754.83                   *
==================================================
*       Thanks for shoping with us today!        *
**************************************************