### Full name : Vũ Minh Nhật
### Student ID : 11224897
### Class: DSEB 64A

In [2]:
#BAI2
print("Twinkle, twinkle, little star,")
print("How I wonder what you are!".rjust(40))
print("Up above the world so high,.".rjust(50))
print("Like a diamond in the sky.".rjust(48))
print("Twinkle, twinkle, little star,")
print("How I wonder what you are".rjust(38))

Twinkle, twinkle, little star,
              How I wonder what you are!
                      Up above the world so high,.
                      Like a diamond in the sky.
Twinkle, twinkle, little star,
             How I wonder what you are

In [3]:
#BAI3
print("I\' tabbed in.".rjust(23))
print("   I\' split \n   on a line \n   I\'m \\ a \\ cat. \n\n   I\' do a list : \n       * Cat food \n       * Fishies\n       * Catnip\n       * Grass")

          I' tabbed in.
   I' split
   on a line
   I'm \ a \ cat.

   I' do a list :
       * Cat food
       * Fishies
       * Catnip
       * Grass

In [4]:
#BAI4
number1 = 40
number2 = 30
print("The result:\n")
print("        Product:",number1 * number2, '\n')
print("        Sum:",number1 + number2)

The result:

        Product: 1200

        Sum: 70

In [18]:
#BAI5
print("".rjust(50, "*"))
print("Coding Temple, Inc.".center(50))
print("283 Franklin ST.   ".center(50))
print("Boston, MA         ".center(50))
print("".rjust(50, "="))
print(''.rjust(5),"Product Name ".ljust(15), "Product Price")
print(''.rjust(5),"Books".ljust(15), "$49.95")
print(''.rjust(5),"Computet".ljust(15), "$579.99")
print(''.rjust(5),"Monitor".ljust(15), "$49.95")
print("".rjust(50, "="))
print("".rjust(20), "Total")
print("".rjust(20), "$754.83")
print("".rjust(50, "="))
print("Thanks for shoping with us today!".center(50))
print("".rjust(50, "*"))

**************************************************
               Coding Temple, Inc.
               283 Franklin ST.
               Boston, MA
==================================================
      Product Name    Product Price
      Books           $49.95
      Computet        $579.99
      Monitor         $49.95
==================================================
                     Total
                     $754.83
==================================================
        Thanks for shoping with us today!
**************************************************

In [19]:
#BAI6
print("".rjust(50, "*"))
print('*',"Coding Temple, Inc.".center(46),'*')
print('*',"283 Franklin ST.   ".center(46),'*')
print('*',"Boston, MA         ".center(46),'*')
print("".rjust(50, "="))
print('*',"Product Name  ".rjust(20), "Product Price",'*'.rjust(13))
print('*',"Books         ".rjust(20), "$49.95       ",'*'.rjust(13))
print('*',"Computer      ".rjust(20), "$579.99      ",'*'.rjust(13))
print('*',"Monitor       ".rjust(20), "$49.95       ",'*'.rjust(13))
print("".rjust(50, "="))
print('*',"".rjust(20), "Total",'*'.rjust(21))
print('*',"".rjust(20), "$754.83",'*'.rjust(19))
print("".rjust(50, "="))
print('*',"Thanks for shoping with us today!".center(46), '*')
print("".rjust(50, "*"))

**************************************************
*              Coding Temple, Inc.               *
*              283 Franklin ST.                  *
*              Boston, MA                        *
==================================================
*       Product Name   Product Price             *
*       Books          $49.95                    *
*       Computer       $579.99                   *
*       Monitor        $49.95                    *
==================================================
*                      Total                     *
*                      $754.83                   *
==================================================
*       Thanks for shoping with us today!        *
**************************************************

In [20]:
#BAI7
a = "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" 
print(len(a))

169

In [21]:
#BAI8
print("My", "name", "is", "James", sep = "**")

My**name**is**James

In [23]:
#BAI9
a = float(input())
print(round(a, 2))

4867.345
4867.35

In [25]:
#BAI10
ten1, ten2, ten3 = map(str, input().split())
gia1, gia2, gia3 = map(int, input().split())
print("".rjust(50, "*"))
print("Coding Temple, Inc.".center(50))
print("283 Franklin ST.   ".center(50))
print("Boston, MA         ".center(50))
print("".rjust(50, "="))
print(''.rjust(5),"Product Name ".ljust(15), "Product Price")
print(''.rjust(5),ten1.ljust(15), '$',gia1)
print(''.rjust(5),ten2.ljust(15), '$',gia2)
print(''.rjust(5),ten3.ljust(15), '$',gia3)
print("".rjust(50, "="))
print("".rjust(20), "Total")
print("".rjust(20), gia1 + gia2 + gia3)
print("".rjust(50, "="))
print("Thanks for shoping with us today!".center(50))
print("".rjust(50, "*"))

Books Computers VKL
23 45 36
**************************************************
               Coding Temple, Inc.
               283 Franklin ST.
               Boston, MA
==================================================
      Product Name    Product Price
      Books           $ 23
      Computers       $ 45
      VKL             $ 36
==================================================
                     Total
                     104
==================================================
        Thanks for shoping with us today!
**************************************************

In [1]:
#BAI11
print("ok")

ok